.gitignore
*.log
*.sql
*.sqlite
node_modules/
cgi-bin
wp-admin
wp-includes
index.htm
index.php
license.txt
readme.html
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php
.htaccess
.htaccess.swp
.htpasswd
robots.txt